# Q1

In [8]:
my_name = 'declan'
print(my_name)

declan

# Q2

In [14]:
my_id = 45
print(my_id)

45

# Q3

In [15]:
my_id_str = '45'
print(my_id_str)

45

# Q4

In [16]:
my_name + my_id
print(my_name + my_id)

TypeError: must be str, not int

Doesnt work because both variables need to be a string or both need to be integers

# Q5

In [17]:
print(my_name + my_id_str)

declan45

# Q6

In [18]:
'hello, world. This is my first python string'.split('.')

['hello, world', ' This is my first python string']

# Q7

In [27]:
my_list = ['a','c','b','d','e']
my_list.sort()
print(my_list)

['a', 'b', 'c', 'd', 'e']

# Q8

In [29]:
my_list.append('f')
print(my_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Q9

In [30]:
my_list.remove('d')
print(my_list)

['a', 'b', 'c', 'e', 'f']

# Q10

In [35]:
my_list[2]

'c'

# Q11

In [22]:
num_list = [12, 32, 43, 35]
print(num_list)

[12, 32, 43, 35]

In [40]:
my_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

# Q12

In [7]:
my_dict = {'name': 'declan','id': '45'}
print(my_dict)

{'name': 'declan', 'id': '45'}

# Q13

In [9]:
my_dict["name"] = 'Mckeown'
print(my_dict)

{'name': 'Mckeown', 'id': '45'}

# Q14

In [11]:
my_dict.get('id')

'45'

# Q15

In [20]:
my_dict['id'] = '22'
print(my_dict)

{'name': 'Mckeown', 'id': '22', 'num_list': 'num_list'}

# Q16

In [23]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'Mckeown', 'id': '22', 'num_list': [12, 32, 43, 35]}

This defines our key and then the value which is the numbers.